@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



@model projectVM;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}






<form asp-controller="projects" asp-action="addform" method="post">

    <table>
        @*<div asp-validation-summary="ModelOnly"class="text-danger"></div>*@
        <tr>
            <th> <label asp-for="Name"></label></th>
            <th><input asp-for="Name"></th>
            <th><span asp-validation-for="Name" class="text-danger"></span></th>
        </tr>
        <tr>
            <th><label asp-for="Pnumber"></label></th>
            <th><input asp-for="Pnumber"></th>
            <th><span asp-validation-for="Pnumber " class="text-danger"></span></th>
           
        </tr>
        <tr>
            <th><label asp-for="location"></label></th>
            <th><input asp-for="location"></th>
            <th><span asp-validation-for="location" class="text-danger"></span></th>
           
        </tr>
        <tr>
            <th><label asp-for="Confirmlocation"></label></th>
            <th><input asp-for="Confirmlocation"></th>
            <th><span asp-validation-for="Confirmlocation" class="text-danger"></span></th>

        </tr>
    
        

    </table>


    <input type="submit" value="Submit">
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>



@*<form action="/projects/afteradd">

    <table>
        <tr>
               <th>@Html.LabelFor(x=>x.Name)</th>
            <th>@Html.TextBoxFor(x=>x.Name)</th>
        </tr>
        <tr>
            <th>@Html.LabelFor(x=>x.Pnumber)</th>
            <th>@Html.TextBoxFor(x=>x.Pnumber)</th>
        </tr>
        <tr>
           
            <th>@Html.LabelFor(x=>x.location)</th></th>
            <th>@Html.TextBoxFor(x=>x.location)</th>
        </tr>
        <tr>
           
        </tr>
      
        <tr>
            <th>
                <label for="super">SuperVisor</label>
            </th>
            <th>

                <select name="DepartmentDnum" id="">
                    <option value="">select department</option>
                    @foreach (var item in ViewBag.dept)
                    {
                        <option value="@item.Dnum">@item.DName</option>
                    }


            </th>

            </select>
        </tr>

    </table>


    <input type="submit" value="Submit">
</form>*@